services:
  backend:
    build: .
    container_name: fluxsentinel-backend
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: fluxsentinel-redis
    ports:
      - "6379:6379"

  nginx:
    image: nginx:1.27-alpine
    container_name: fluxsentinel-nginx
    depends_on:
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
